.container {
  display: flex;
  align-items: center;
}

.uploadBtn {
  margin-right: 2em;
}

md-form-field {
  margin: 0 1em;
}

md-spinner {
  height: 4.1em;
}

svg {
  display: block;
  margin: auto;
}

.uploadInput {
  display: none;
}
